# project
dist

# dependencies
/node_modules

# misc
.DS_Store
*.pem

# packageManager
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# local env files
*.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# jetbrains
.idea
